.env
frontend/env.local
/frontend/node_modules
/backend/venv
/backend/venv
/backend/venv
/backend/venv
/backend/venv
/backend/venv
backend/venv/Lib/site-packages/aiofiles/ospath.py
/models
/backend/venv/Lib/site-packages/onnxruntime/transformers
/backend/venv
